[Unit]
Description=Check Lembitu health every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=1s
Unit=lembitu-monitor.service

[Install]
WantedBy=timers.target
